.sidebarBox {
  width: 270px;
}

.contentBox {
  width: calc(100% - 300px);
}

@media screen and (max-width: 800px) {
  .contentBox {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sidebarBox {
    /* display: none; */
    position: absolute;
    top: 0%;
    padding-top: 20px;
    background-color: white;
  }

  .contentBox {
    width: 100%;
  }
}
